name: Deploy Microservice

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout the repository
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Create SSH key
        run: |
          mkdir -p ~/.ssh/
          echo "$SSH_PRIVATE_KEY" > ../private.pem
          sudo chmod 400 ../private.pem
          echo "$SSH_KNOWN_HOSTS" > ~/.ssh/known_hosts
        shell: bash
        env:
          SSH_PRIVATE_KEY: ${{secrets.AWS_EC2_SSH_KEY}}
          SSH_KNOWN_HOSTS: ${{secrets.AWS_EC2_IP}}
          SSH_KEY_PATH: ${{ github.workspace }}/../private.pem

      # Step 4: Connect via SSH, remove old files, and copy new files
      - name: remove old files
        run: |
          ssh -i $SSH_KEY_PATH ubuntu@${{ secrets.AWS_EC2_IP }} "rm -rf /home/ubuntu/node-app/microservice-template/*"
        env:
          SSH_KEY_PATH: ${{ github.workspace }}/../private.pem
# scp -i ssh_key.pem -r ./* ubuntu@${{ secrets.AWS_EC2_IP }}:/home/ubuntu/node-app/microservice-template
#   ssh -i ssh_key.pem ubuntu@${{ secrets.AWS_EC2_IP }} << EOF
#   cd /home/ubuntu/node-app/microservice-template
#   docker compose --profile deploy up --build -d
#   EOF
