name: Deploy

on:
  push:
    branches:
      - main

jobs:
  Deploy:
    name: Deploy to EC2
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Remove old files
        env:
          PRIVATE_KEY: ${{ secrets.AWS_EC2_SSH_KEY }}
          HOSTNAME: ${{secrets.AWS_EC2_IP}}
          USER_NAME: ${{secrets.USER_NAME}}
        run: |
          echo "$PRIVATE_KEY" > private_key && chmod 600 private_key
          ssh -o StrictHostKeyChecking=no -i private_key ${USER_NAME}@${HOSTNAME} '

              # Now we have got the access of EC2 and we will start the deploy .
              rm -rf /home/ubuntu/node-app/microservice-template/*
              '

      - name: Copy new files
        env:
          PRIVATE_KEY: ${{ secrets.AWS_EC2_SSH_KEY }}
          HOSTNAME: ${{secrets.AWS_EC2_IP}}
          USER_NAME: ${{secrets.USER_NAME}}
        run: |
          echo "$PRIVATE_KEY" > private_key && chmod 600 private_key
          scp -o StrictHostKeyChecking=no -i private_key -r ./* ${USER_NAME}@${HOSTNAME}:/home/ubuntu/node-app/microservice-template

      - name: Deploy
        env:
          PRIVATE_KEY: ${{ secrets.AWS_EC2_SSH_KEY }}
          HOSTNAME: ${{secrets.AWS_EC2_IP}}
          USER_NAME: ${{secrets.USER_NAME}}
        run: |
          echo "$PRIVATE_KEY" > private_key && chmod 600 private_key
          ssh -o StrictHostKeyChecking=no -i private_key ${USER_NAME}@${HOSTNAME} '

              # Now we have got the access of EC2 and we will start the deploy .
              docker compose --profile deploy up --build -d
              '
